<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="fabrika.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
    <add name="fabrika.Properties.Settings.fabrica1ConnectionString"
      connectionString="Data Source=DESKTOP-EL7BQGM;Initial Catalog=fabrica1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <fabrika.Properties.Settings>
      <setting name="servername" serializeAs="String">
        <value>DESKTOP-EL7BQGM</value>
      </setting>
      <setting name="DBname" serializeAs="String">
        <value>fabrica1</value>
      </setting>
    </fabrika.Properties.Settings>
  </userSettings>
</configuration>